<div class="name-card">
  <div class="name-card__content-left">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGmIqFGmn2cRJK2NOl8hvymN-qmeXUmiJt-g&usqp=CAU" alt="Logo" class="name-card__avatar">
  </div>
  <div class="name-card__content-right">
    <h3 class="name-card__heading">{{ cardName }}</h3>
    <p class="name-card__text">{{ email }}</p>
    <p class="name-card__text">{{ phone }}</p>
  </div>
</div>
<!--<app-root cardName="Professional Dev" email="prodev@abc.xyz" phone="0123456789"></app-root>-->
