
<div>
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="customer">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" id="closeModalDelete" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <h4 class="text-center text-danger" >Bạn có muốn xóa sổ  tiết kiệm số {{customer.customerType.name}} hay không ?  </h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
        <button (click)="deleteCustomer()" type="button" class="btn btn-outline-danger">Delete</button>
      </div>
    </div>
  </div>
</div>
