<h2 class="text-center mt-2 ">Customer List</h2>
<button type="button" (click)="createCustomer(customer)" class="btn btn-primary" data-toggle="modal" data-target="#modalCreate">
  Thêm Mới Khách Hàng
</button>
<label>
  <input style="width: 400px;
      margin-left: 700px ;margin-bottom: 10px" class="form-control mr-sm-2" type="text"
         placeholder="Tìm Kiếm Theo Tên Khách Hàng" [(ngModel)]="name" (input)="search(name)">
</label>
<div class="container">
  <table class="table" style="margin-left: -42px;">
    <thead>
    <tr>
      <th (click)="sort('id')">ID &nbsp;<i class='fa fa-sort'></i></th>
      <th>Tên Khách Hàng</th>
      <th>Ngày Sinh</th>
      <th>Giới Tính</th>
      <th>Địa Chỉ</th>
      <th>CMND</th>
      <th>Số ĐT</th>
      <th>Email</th>
      <th>Loại Khách Hàng</th>
      <th colspan="2">Chức Năng</th>
    </tr>
    </thead>
    <tbody>
    <tr
      *ngFor="let customer of customerList |filter:name |orderBy:key:reverse| paginate: { itemsPerPage: 2, currentPage: p }">
      <td> {{customer.id}} </td>
      <td> {{customer.name}} </td>
      <td> {{customer.dateOfBirth}} </td>
      <td> {{customer.gender}} </td>
      <td> {{customer.address}} </td>
      <td> {{customer.idCard}} </td>
      <td> {{customer.phoneNumber}} </td>
      <td> {{customer.email}} </td>
      <td> {{customer.customerType.name}} </td>
      <td>
      <td>
        <!--        <button class="btn btn-primary" [routerLink]="'/customer/update/'+customer.id" style="margin-right: 10px">Update-->
        <!--        </button>-->
        <button
          type="button"
          (click)="updateCustomer(customer)"
          data-toggle="modal"
          class="btn btn-outline-danger"
          data-target="#modalUpdate">
          Update
        </button>
      </td>
      <td>
        <button
          type="button"
          (click)="returnCustomer(customer)"
          data-toggle="modal"
          class="btn btn-outline-danger"
          data-target="#modalDelete">
          Delete
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>

