/*
DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}

.navbar {
  .navbar-brand {
    font-size: 25px;
  }
}

.footer {
  height: 60px;
  width: 100%;
  background-color: #f8f9fa;
  line-height: 60px;

  .footer-content {
    text-align: center;
    font-size: 14px;
  }
}
