<div>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Thêm Mới Khách Hàng</h5>
        <button type="button" class="btn-close" id="closeModalCreate" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <form [formGroup]="customerCreateForm" (ngSubmit)="submit()" class="modal-add">
        <div class="form-group row">
          <label  class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-10">
            <input
              [class]="customerCreateForm.controls.name.invalid && customerCreateForm.controls.name.touched ? 'border-danger' : ''"
              type="text" class="form-control" formControlName="name">
            <div *ngIf="customerCreateForm.get('name').touched">
              <p class="text-danger" *ngIf="customerCreateForm.get('name').hasError('required') ">Tên Không Được Bỏ
                Trống</p>
              <p class="text-danger"
                 *ngIf="customerCreateForm.get('name').hasError('pattern') || customerCreateForm.get('name').hasError('minlength') ">
                Tên không đúng định dạng và độ dài Tên> 6</p>
            </div>
          </div>
        </div>
        <!--  End row 1      -->
        <div class="form-group row">
          <label  class="col-sm-2 col-form-label">Date of Birth</label>
          <div class="col-sm-10">
            <input type="date" class="form-control mr-sm-2" formControlName="dateOfBirth">
            <p *ngIf="customerCreateForm.get('dateOfBirth').hasError('dateOfBirth')
                 && customerCreateForm.get('dateOfBirth').dirty" style="color: red">Chưa Đủ 18 Tuổi</p>
          </div>
        </div>
<!--        End row 2-->
        <div class="form-group row">
          <label  class="col-sm-2 col-form-label">Gender</label>
          <div class="col-sm-10">
              <select class="form-control mr-sm-2" formControlName="gender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
          </div>
        </div>
<!--     End row 3   -->
        <div class="form-group row">
          <label  class="col-sm-2 col-form-label">Address</label>
          <div class="col-sm-10">
            <input type="text" class="form-control mr-sm-2" formControlName="address">
            <div *ngIf="customerCreateForm.get('address').touched">
            <p class="text-danger" *ngIf="customerCreateForm.get('address').hasError('required') ">Địa Chỉ Không
              Được Để Trống</p>
            <p class="text-danger" *ngIf="customerCreateForm.get('address').hasError('pattern')">Không Được Nhập
              Số</p>
            </div>
          </div>
        </div>
<!--        End row 4-->
        <div class="form-group row">
          <label  class="col-sm-2 col-form-label">ID Card</label>
          <div class="col-sm-10">
            <input type="text" class="form-control mr-sm-2" formControlName="idCard">
            <div *ngIf="customerCreateForm.get('idCard').touched">
              <p class="text-danger" *ngIf="customerCreateForm.get('idCard').hasError('required') ">ID Card Không
                Được Để Trống</p>
              <p class="text-danger" *ngIf="customerCreateForm.get('idCard').hasError('pattern')">Sai Định Dạng Mời
                Bạn Nhập Lại</p>
            </div>
          </div>
        </div>
<!--        End row 5-->
        <div class="form-group row">
          <label  class="col-sm-2 col-form-label">Phone number</label>
          <div class="col-sm-10">
            <input type="text" class="form-control mr-sm-2" formControlName="phoneNumber">
            <div *ngIf="customerCreateForm.get('phoneNumber').touched">
              <p class="text-danger" *ngIf="customerCreateForm.get('phoneNumber').hasError('required') ">SĐT Không
                Được Để Trống</p>
              <p class="text-danger" *ngIf="customerCreateForm.get('phoneNumber').hasError('pattern')">Sai Định Dạng
                Mời Bạn Nhập Lại</p>
            </div>
          </div>
        </div>
<!--        End row 6-->
        <div class="form-group row">
          <label  class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input type="text" class="form-control mr-sm-2" formControlName="email">
            <div *ngIf="customerCreateForm.get('email').touched">
              <p class="text-danger" *ngIf="customerCreateForm.get('email').hasError('required') ">Email Không Được
                Để Trống</p>
              <p class="text-danger" *ngIf="customerCreateForm.get('email').hasError('email')">Sai Định Dạng Mời Bạn
                Nhập Lại</p>
            </div>
          </div>
        </div>
<!--        End row 7-->
        <div class="form-group row">
          <label  class="col-sm-2 col-form-label">Customer Type</label>
          <div class="col-sm-10">
            <select class="form-control mr-sm-2" formControlName="customerType">
              <option *ngFor="let customerType of customerTypeList"
                      [ngValue]="customerType"> {{customerType.name}} </option>
            </select>
          </div>
        </div>
<!--        -->
        <div class="form-group row mr-0 ml-0">
          <button type="button" class="btn btn-secondary mr-1" data-dismiss="modal">Close</button>
          <button type="button" (click)="submit()" [disabled]="customerCreateForm.invalid" class="btn btn-primary" data-dismiss="modal">Save
            Customer
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
