<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCreate">
  Thêm Mới Khách Hàng
</button>

<!-- Modal -->
<div class="modal fade" id="modalCreate" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Thêm Mới Khách Hàng</h5>
        <button type="button" class="btn-close" id="closeModalCreate" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <form [formGroup]="customerCreateForm" (ngSubmit)="submit()">
        <div class="modal-body">
          <div class="form-group">
            <div class="row">
              <label class="width">Name<span class="text-danger">: </span> </label>
              <div *ngIf="customerCreateForm.get('name').touched">
                <p class="text-danger" *ngIf="customerCreateForm.get('name').hasError('required') ">Name is not empty</p>
                <p class="text-danger" *ngIf="customerCreateForm.get('name').hasError('pattern') || customerCreateForm.get('name').hasError('minlength') ">Name is not correct format and Name length > 6</p>
              </div>
              <label>
                <input [class]="customerCreateForm.controls.name.invalid && customerCreateForm.controls.name.touched ? 'border-danger' : ''" type="text" class="form-control col-6" formControlName="name">
              </label>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label  class="col-form-label ">Date of Birth<span class="text-danger">*</span></label>
              <label>
                <input  style="width: 350px" type="date" class="form-control col-6" formControlName="dateOfBirth">
              </label>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label  class="col-form-label">Gender<span class="text-danger">: </span></label>
              <label>
                <select style="width: 350px" class="form-control col-6" formControlName="gender">
                  <option value="true">Male</option>
                  <option value="false">Female</option>
                </select>
              </label>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label  class="col-form-label ">Address<span class="text-danger">*</span></label>
              <label>
                <input style="width: 350px" type="text" class="form-control col-6" formControlName="address">
              </label>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label class="col-form-label ">ID Card<span class="text-danger">*</span></label>
              <label>
                <input style="width: 350px" type="text" class="form-control col-6" formControlName="idCard">
              </label>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label  class="col-form-label ">Phone number<span class="text-danger">*</span></label>
              <label>
                <input style="width: 350px" type="text" class="form-control col-6" formControlName="phoneNumber">
              </label>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label  class="col-form-label ">Email<span class="text-danger">*</span></label>
              <label>
                <input style="width: 350px" type="text" class="form-control col-6" formControlName="email">
              </label>
            </div>
          </div>
          <div class="form-group">
            <div class="row" >
              <label class="col-form-label">Customer Type<span class="text-danger">*</span></label>
              <label>
                <select style="width: 350px"  class="form-control col-6" formControlName="customerType">
                  <option *ngFor="let customerType of customerTypeList" [value]="customerType.id"> {{customerType.name}} </option>
                </select>
              </label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" (click)="submit()" class="btn btn-primary">Save Customer</button>
        </div>
      </form>
    </div>
  </div>
</div>
