<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Modify Product</h3>
<p>
    <a th:href="@{/}">
        Back to product list
    </a>
</p>
<div id="form">
    <form action="#" th:action="@{/product/update}" th:object="${product}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{idProduct}"/>
        <div>
            <label>Name Product</label>
            <input type="text" th:field="*{nameProduct}"/>
        </div>
        <div>
            <label>Price Product</label>
            <input type="email" th:field="*{priceProduct}"/>
        </div>
        <div>
            <label>Image Product</label>
            <input type="text" th:field="*{imgProduct}"/>
        </div>
        <div>
            <label>Quantity</label>
            <input type="text" th:field="*{quantity}"/>
        </div>
        <input type="submit" value="Modify"></input>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>