<html>
<head>
  <style type="text/css">
    header {
      border: 1px solid #ccc;
      background-color: #9899A6;
      color: black;
      text-align: center;
      padding-bottom: 15px;
    }
  </style>
</head>

<body>
<header>
  <div style="display: flex;
    justify-content: space-between;">
    <div style="font-family:  Arial, Helvetica, sans-serif ">
      <div><h3 style="font-size: 15px">Follow Us</h3></div>
      <div style="font-size: 12px">Lorem ipsum dolor sit amet</div>
    </div>
    <div style="font-family:  Arial, Helvetica, sans-serif ">
      <div><h3>Newsleter</h3></div>
      <div style="font-size: 12px">Hello friends, I'm students, please <br> register for the course. This is my practice</div>
      <div> <input type="text" value="your email"></div>
      <div><button style="width: 170px;" type="submit" value="Subscribe">Subscribe</button></div>
    </div>
    <div style="font-family:  Arial, Helvetica, sans-serif ">
      <div>  <h3>Refund Policy</h3></div>
      <div style="font-size: 12px">In the above case if a character does not exist in the first font (Arial)<br>
        then the font following it is Helvetica will be applied. In the event that <br>
        even a second font is not available, any sans-serif family of fonts being <br>
        installed on the device will be used.</div>
    </div>
  </div>
</header>
</body>
</html>
